services:
  frontend:
    build:
      context: C:/Users/Kath Stark/DSY2205_Frontend/labcontrol8
    container_name: labcontrol8-frontend
    ports:
      - "4200:80"
    environment:
      - API_BASE_URL=http://microservicio-usuarios:8080/api
    depends_on:
      - microservicio-usuarios
      - microservicio-laboratorios
      - microservicio-reservas

  microservicio-usuarios:
    build:
      context: C:/DSY2205_Backend/microservicio-usuarios
    container_name: ms-usuarios
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@bddsy2205_high?TNS_ADMIN=/wallet
      - SPRING_DATASOURCE_USERNAME=ADMIN
      - SPRING_DATASOURCE_PASSWORD=Florencia.2014
      - TNS_ADMIN=/wallet
    volumes:
      - "C:/microservicios/Wallet_BDDSY2205:/wallet:ro"

  microservicio-laboratorios:
    build:
      context: C:/DSY2205_Backend/microservicio_laboratorios
    container_name: ms-laboratorios
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@bddsy2205_high?TNS_ADMIN=/wallet
      - SPRING_DATASOURCE_USERNAME=ADMIN
      - SPRING_DATASOURCE_PASSWORD=Florencia.2014
      - TNS_ADMIN=/wallet
    volumes:
      - "C:/microservicios/Wallet_BDDSY2205:/wallet:ro"

  microservicio-reservas:
    build:
      context: C:/DSY2205_Backend/microservicio-reservas
    container_name: ms-reservas
    ports:
      - "8083:8083"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@bddsy2205_high?TNS_ADMIN=/wallet
      - SPRING_DATASOURCE_USERNAME=ADMIN
      - SPRING_DATASOURCE_PASSWORD=Florencia.2014
      - TNS_ADMIN=/wallet
    volumes:
      - "C:/microservicios/Wallet_BDDSY2205:/wallet:ro"
