@import 'styles/_variables.scss';

.card { border-radius:8px; }
.card-header { background: lighten($primary, 6%); }
.btn-primary { background: $primary; border-color: darken($primary,6%); color: darken($primary, 60%); }
.btn-secondary { background: $secondary; color:#fff; border:none; }
.btn-danger { background: $danger; color:#fff; border:none; }

.table thead th { background: rgba(0,0,0,0.03); }
